/* App.css */

.App {
  text-align: center;
}

.App input,
.App button {
  margin: 10px;
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.todo-list ul {
  list-style-type: none;
  padding: 0;
}

.todo-list .task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.todo-list .task-text {
  flex-grow: 1;
  text-align: left;
}

.todo-list .task-actions {
  text-align: right;
}

.todo-list .task-actions a {
  margin-left: 10px;
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

.todo-list .task-actions a:hover {
  text-decoration: underline;
}
